nav{
	background-color: #00c9ff;
	display: inline-block;
	float: center;
	font-size: 1.2em;
	font-weight: bold;
	width: 100%;
}
nav ul{
	list-style: none;
	margin: 0;
	padding-left: 0.6em;
	padding-right: 0.6em;
}
nav li{
	/*background-color: #0dffad;*/
	display: inline-block;
	list-style-type: none;
	/*Shorthand margin takes input in the order:
	top, right, bottom, left*/
	margin: 0.2em 1em 0.2em 1em;
}

/*nav ul a{
	display: block;
}*/
nav ul a:link{
	color: black;
}
nav ul a:visited{
	color: black;
}
nav ul a:hover{
	color: #0c80e8;
}

/*Dropdown with sub-menues:*/
nav ul li:hover > ul {
	opacity: 1;
	visibility: visible;
}
nav ul ul, nav ul ul li ul {
	background: #00c9ff;
	list-style: none;
	margin: 0;
	margin-left: -1em;
	opacity: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	width: 11em;
}
nav ul ul li {
	clear: both;
	width: 100%;
}
nav ul ul li a {
	background: none;
	border: 0 none;
	clear: both;
	color: #616161;
	display: inline-block;
	float: left;
	padding-top: 0.5em;
	text-decoration: none;
}

/*
For the last child selector, see this document
from w3c: https://drafts.csswg.org/selectors-4/#nth-match
Probably should not be in production in a superserious
project, but it works well enough in all the major
browsers to be used in something like my personal homepage...*/
nav ul ul li:last-child a {
	padding-bottom: 0.5em;
}
