/*Color scheme:
https://kuler.adobe.com/create/color-wheel/?base=2&rule=Analogous&selected=0&name=My%20Kuler%20Theme&mode=rgb&rgbvalues=0.050000000000000044,0.30017131870999947,1,0.04550000000000004,0.5006559000257375,0.91,0,0.7896540196945807,1,0.04550000000000004,0.91,0.8608983716702665,0.050000000000000044,1,0.6771742421425528&swatchOrder=0,1,2,3,4
#0D4DFF
#0C80E8
#00C9FF
#0CE8DC
#0DFFAD
*/
* {
	font-family: Georgia, serif;
}
body{
	/*background-color: #0ce8dc;*/
	background-color: white;
	text-align: center;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
/*Unvisited style:*/
a:link{
	color: #0c80e8;
}
/*Visited Style*/
a:visited{
	color: #0c80e8;
}
a:active{
}
a:hover{
	color: #0d4dff;
}

body p{
	display: block;
	float: center;
	font-size: 1.3em;
	max-width:40em;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

p + p {
	margin-top: 1.5em;
}

/*pre{
	display: inline-block;
	font-family: Courier New, serif;
	background-color: lightgrey;
	padding: 0;
	margin: 0;
}*/

/*Below css taken from this question on stackoverflow and slightly modified to fit my site better: http://stackoverflow.com/questions/9045677/css-help-how-to-format-code-block-and-code-line*/
code {
	font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	color: #52595d;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	background-color: #f9f9f9;
	padding: 0 3px;
	display: inline-block;
	margin: 0;
}

pre {
	border: 1px solid #cacaca;
	line-height: 1.2em;
	font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	text-align: left;
	padding: 10px;
	overflow: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #FAFAFB;
	color: #393939;
	margin: 0 auto;
	float: center;
	/*display: block;*/
	max-width:50em;
}
